
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

p{
    margin: 10px !important;
}

label{
    font-size: 16px;
    text-transform: capitalize;
    margin: 5px 0px;
}

button{
    border: none;
    border-radius: 5px;
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
