<div class="home-container">

    <div class="home-header">
        <form class="form-filter">
            <div class="form-group">
                <input type="text" placeholder="Buscar por nome" >
                <span class="icon-input"></span>
            </div>
            <div class="form-group">
                <select name="" id="" placeholder="Especie" (change)="searchFilter($event)">
                    <option value=""> Especie </option>
                    <option value="Cachorro">Cachorro</option>
                    <option value="Gato">Gato</option>
                </select>
            </div>
            <div class="form-group">
                <select name="" id="">
                    <option value=""> Sexo </option>
                    <option value="Macho">Macho</option>
                    <option value="Femea">Femea</option>
                </select>
            </div>
        </form>
    </div>
    <div class="home-petList">
        <div *ngIf="petList.length === 0"  class="not-found">
            <p> Opa! não encontramos nada </p>
            <p (click)="search(1)" > limpar busca </p>
        </div>
        <app-pet-card
            *ngFor="let pet of petList"
            [nome]="pet.NomeAnimal"
            [sexo]="pet.Sexo"
            [foto]="pet.ImagemAnimal"
            [Id]="pet.IdAnimal"
        >

        </app-pet-card>
        <div class="footer-petlist">
            <button *ngIf="petList.length > 0" (click)="paginate()"> Buscar mais </button>
        </div>
    </div>

</div>